.slideArea {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 50vw;
    margin: auto;
    border: 2px solid sandybrown;
    margin-top: 20px;
}

.selectedSlide {
    height: 60%;
    border: 2px solid red;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 

}
.arrowsDiv {
    width: 8%;
    border: solid 2px pink;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease;
    cursor: pointer;
}
.arrowsDiv:hover{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.arrows {
    font-weight: bold;
    font-size: 33px;
    user-select: none;
}

.mainImage{
    /*There are differences here, some images have different aspect ratios*/
    max-width: 96%;
    min-width: 66%;
    min-height: 76%;
    max-height: 96%;
}

.slideRow {
    margin-top: 5%;
    height:15%;
    border: 2px solid blue;
    display: flex;
    flex-direction: row;
}
.slideElement {
    border: 2px solid brown;
    width: 20%; /*5 images 20%, 4 images 25%*/
    text-align: center;
}

.slideElement img {
    max-width: 80%;
    min-width: 80%;
    min-height: 90%;
    max-height: 90%;
    border-radius: 10px;
    cursor: pointer;
}
.slideElement img:active {
    outline: solid 1px lightsalmon;
    
}
