@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Gemstones&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

@media (min-width: 901px) {

body {
  margin: 0;
  
}

.App {
  display: flex;
  flex-direction: column;
}

.Upperbar {
  min-height: 10vh;
  border-bottom: solid 2px lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top:0;
  z-index: 100;
  background-color: white;
}
.UpperbarTop {
  width: 80%;
  min-height: 60%;
  padding-top: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.basketImage {
  display: flex;
  align-items: flex-end;
  font-family: 'Cabin', sans-serif;
  font-size: 28px;
}
.basketImage:hover {
  cursor: pointer;
}
.heading {
  display: flex;
  align-items: flex-end;
  font-size: 35px;
  font-weight: bolder;
  font-family: 'Heebo', sans-serif;
  letter-spacing: 4px;
}
.childHeading:hover {
  cursor: pointer;
}

.UpperbarBottom {
  width: 80%;
  min-height: 40%;

  font-family: 'Inter', sans-serif;
  font-size: 19px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  letter-spacing: 3px;
}
.UpperbarBottom span{
  padding:3px;
  border-radius: 3px;
}
.UpperbarBottom span:hover {
  cursor: pointer;

  box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.3);
  filter: drop-shadow(2px 5px 5px rgba(0,0,0,0.3));
}

.Lowerbar {
  min-height: 90vh;
  width: 80%;
  margin: auto;
}


/*SCROLLBAR STYLE*/

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 18px;
  height: 12px;
}
  
::-webkit-scrollbar-track {
background: #f5f5f5;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
background: #ccc;  
}

::-webkit-scrollbar-thumb:hover {
background: #999;  
}

/* width */
/* Hide scrollbar for Chrome, Safari and Opera */
/*
.Lowerbar::-webkit-scrollbar {
  display: none;
}
*/
/* Hide scrollbar for IE, Edge and Firefox */
/*
.Lowerbar {
-ms-overflow-style: none;  /* IE and Edge *//*
scrollbar-width: none; */ /* Firefox *//*
}
*/
/*
*/
.generalContainer{
  display: flex;
  flex-direction: row;
  font-family: 'Asap', sans-serif;
  flex-flow: row wrap;
  width: 90%;
  margin: auto;
}
.imageContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 2px;
  min-width: 15vw;
  max-width: 15vw;
  height: 42vh;
  padding: 5px;
  margin-right: 30px;
  margin-top: 20px;
}
.realImgContainer {
  border-radius: 4px;
  min-height: 73%;
  max-height: 73%;
  align-self: center;
  overflow-y: hidden;
  overflow-x: hidden;
  cursor: pointer;
}
.realImgContainer img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.detailContainer {
  height: 20%;
  width: 100%;
  padding-top: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.detailTitle {
  font-size: 17px;
  display:inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 24ch;
  height: 52%;
}
.detailChild {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 48%;
}
.detailPrice {
  align-self:flex-end;
  font-size: 26px;
}

.itemContainer {
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 2px;
  padding: 5px;
  margin-top: 20px;

}
.itemArea1 {
  display: flex;
  flex-direction: row;

}
.itemImageDiv{
  min-width: 50%;

}
.itemDetailDiv {
  min-width: 50%;

  display: flex;
  flex-direction: column;
}
.itemDetailDiv div{
  height: 50%;
}
.priceTag {
  color: #fa6400;
  font-size: 35px;
}
.itemImage {
  max-width: 80%;
  min-width: 80%;
}
#carouselDiv {
  width: 30vw;
}

.itemInput {
  width: 70px;
  height: 30px;
  text-align: center;
  font-size: 26px;
  border:1px solid #ddd;
  border-radius:4px;
  vertical-align: top;
  margin-top: 5px;
  margin-bottom: 6px;
}

.itemArea2 {
  padding-top: 20px;
  min-height: 15vh;
  padding-bottom: 50px;
}


.cartArea {
  font-family: 'Quicksand', sans-serif;
}
.cartListHeader{
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}
#cartListSumBig {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 20px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}
#cartListSumSmall {
  display: none;
}
.cartList {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.cartItemImage {
  max-width: 50%;
  cursor: pointer;
  border-radius: 6px;
}
.cartItemImage:hover {
  border: solid 2px lightseagreen; 
}
.cartDeleteIcon {
  max-width: 15%;
  vertical-align: top;
  cursor: pointer;
}
.cartInput {
  max-height: 25px;
  font-size: 20px;
  width: 50%;
}
.cartList span, .cartList div, .cartListHeader span {
  max-width: 12%;
  min-width: 12%;
  max-height: 20%;
  overflow-x: hidden;
  overflow-y: hidden;
}
#cartToggleTitle2B {
  display: none;
}
input:required:focus:invalid {
  background: lightpink;
}
textarea:required:focus:invalid {
  background: lightpink;
}

/* BUTTONS */
.itemButton {
  width: 40%;
  height: 20%;
}
.listButton{
  width: 60%;
}
.detailButton {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  margin: 0;
  min-height: 2rem;
  padding: 3px;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}

.detailButton:hover,
.detailButton:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.detailButton:hover {
  transform: translateY(-1px);
}

.detailButton:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

/*ORDER SUCCESSFUL AREA*/
.orderSuccessfulAreaParentDiv{
  font-size: 26px;
  padding-top: 20px;
  padding-left: 20px;
  font-family: 'Trebuchet MS', sans-serif;
}
.orderSuccessfulArea {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.orderSuccessfulAreaImg {
  max-width:20%;
}
.orderSuccessfulAreaDetails {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

#printBtn {
  width: 20vw !important;
  font-size: 22px;
  font-family: 'Quicksand', sans-serif;
  padding: 8px;
  border: 2px solid lightgrey;
  border-radius: 5px;
}
#printBtn:hover {
  background-color: #f09819;
}

/*CART ICON*/
#lblCartCount {
  font-size: 12px;
  background: #ff0000;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -10px;
}
.badge {
padding-left: 9px;
padding-right: 9px;
-webkit-border-radius: 9px;
-moz-border-radius: 9px;
border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
background-color: #c67605;
}


/*FORM ELEMENT BASKET PAGE*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
.container form { 
  max-width:420px; 
  margin-top:20px; 
}

.feedback-input {
  color:black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background: white;
  /*background:rgb(30,30,40);*/
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

.container textarea {
  height: 150px;
  line-height: 150%;
  background: white;
  /*background:rgb(30,30,40);*/
  resize:vertical;
}
.formButtonBasket {
  font-family: 'Quicksand', sans-serif;
  width: 100%;
  background: rgb(17, 119, 17);
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:black;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
.formButtonBasket:hover { background: rgb(7, 92, 7); }


/*H1 STYLE BASKET AREA*/
.textEffect1, .cartArea h1 {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 1px;
  color: white;
  font-weight: bolder;
  font-size: 25px;
  background: orange;
  display: inline-block;
  padding: 8px;
  border-radius: 5px;
}

/*FOOTER AREA*/
.mainFooter {
  display: flex;
  font-family: 'Quicksand', sans-serif;
  flex-direction: column;
  background-color: #242329;
  color: #fcfcfc;
  margin-top: 100px;
  min-height: 29vh;
  max-height: 29vh;
}
.footerUp {
  min-height: 24vh;
  max-height: 24vh;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.footerSlogan {
  font-family: 'Kaushan Script', cursive;
}
.footerUpDiv1{ 
  flex-grow: 2;
}
.footerUpDiv2 {
  padding-top: 10px;
  flex-grow: 1;
}
#footerIconDiv {
  display: flex;
  flex-direction: column;
}
.footerBottom{
  min-height: 5vh;
  max-height: 5vh;
  font-size: 12px;
  border-top: solid 1px palegoldenrod;
  width: 80%;
  margin: auto;
}
.footerButton {
  background-color: #242329;
  color: #fcfcfc;
  border: 2px whitesmoke solid;
  border-radius: 4px;
  width: 40%;
  height: 5vh;
  
}
.footerButton:hover {
  font-weight: bolder;
  cursor: pointer;
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
.footerIcons {
  width: 47px;
  cursor: pointer;
}
.mainCarouselDiv {
  width: 45%;
  margin: auto;
  margin-top: 20px;
}
.carouselChildDivs img{
  border-radius: 6px;
}
.carouselChildDivs {
  cursor: pointer;
}
.webmasterDiv {
  cursor: pointer;
}


/*CONTACT FORM AREA*/
.contactFormDiv {
  width: 50%;
  margin: auto;
  font-family: 'Quicksand', sans-serif;
}
.contactFormDiv h1 {
  text-align: center;
}
.formContact {
  display: flex;
  flex-direction: column;
}
.formContact > input {
  margin-top: 5px;
  min-height: 30px;
}
.formContact > input {
  margin-top: 5px;
  min-height: 30px;
}
.formContact > input[type=text] {
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
}
.formContact textArea {
  font-family: 'Quicksand', sans-serif;
  min-height: 100px;
  margin-top: 5px;
  font-size: 15px;
}
.formContact input:focus {
  background: lightgreen;
}
.formContact input:required:focus:invalid {
  background: lightpink;
}
.formContact textarea:required:focus:invalid {
  background: lightpink;
}
.formContact > input::-webkit-outer-spin-button,
.formContact > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.formContact > input[type=number] {
  -moz-appearance: textfield;
}


/* CSS */
.button-87 {
  font-size: 25px;
  margin: 10px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.button-87:active {
  transform: scale(0.95);
}


}