.slideArea {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 50vw;
    margin: auto;
    border: 2px solid sandybrown;
    margin-top: 20px;
}

.selectedSlide {
    height: 60%;
    border: 2px solid red;
}

.slideRow {
    margin-top: 5%;
    height:20%;
    border: 2px solid blue;
    display: flex;
    flex-direction: row;
}
.slideElement {
    border: 2px solid brown;
    width: 20%; /*5 images 20%, 4 images 25%*/
}